<div class="homePart">
    <figure>
        <img src="img/spor_logo_big.png"/>
    </figure>   
</div>
<div class="homePart">
    <div class="homeButtons">
        <a href="#/play" class="startPlay"><span class="fa fa-play"></span> <%= _$_.t('play') %></a>
        <a href="#/levels"><span class="fa fa-trophy"></span> <%= _$_.t('levels') %></a>
    </div>
    <a class="bottomButton shareGame">
        <span class="fa fa-bullhorn"></span>
    </a>
    <a class="bottomButton right openInstructionsPopup">
        <span class="fa fa-info"></span>
    </a>
</div>